@font-face {
    font-family: andro;
    src: url('fonts/Prototype.ttf')
    format('truetype');
}
@font-face {
    font-family: neuro;
    src: url('fonts/neuropolitical.ttf')
    format('truetype');
}@font-face {
    font-family: terminal;
    src: url('fonts/terminal.ttf')
    format('truetype');
}

.socio{margin:auto;display:flex;justify-content: space-between;padding:5px 25px;
}

body{transition: all 0.5s ease;margin:0!important;font-family:Poppins,sans-serif!important;letter-spacing:2px!important;background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);font-weight:200; margin: auto!important}
h1{text-align:center!important;margin-top:50px!important;font-weight:100!important;font-size:3em}
*{margin:0px;padding:0px;}
h1{
    display:flex;
    align-items:center;
    margin:auto;
}
h1 a{
    
    font-family: neuro !important;
    font-size:40px;
    display:inline-block;
    padding: 5px 15px;
    margin:auto;
    
    text-transform: uppercase;
    text-decoration: none;
    color:#ffffff;
    position:relative;
    overflow:hidden;
    letter-spacing:10px;
    transition:0.2s;
    border: 0.2px solid #2196f3;
    
}

.focu{
    font-size:20px;
    margin-top:55px 100px;
}

.focu:hover {
    color:white;
  }

h1 a:hover{
    
    transition-duration:0.5s;
    box-shadow:  #2196f3 0px 1px 2px, #2196f3 0px 1px 2px;
    letter-spacing: 11px;
}


h1 a span{
    position: absolute;
    display:block;
}
h1 a span:nth-child(1){
    top: 0;left: -100%;
    width:100%;height:2px;
    background:linear-gradient(90deg,transparent,#2196f3)
}
h1 a:hover span:nth-child(1){
    left:100%;
    transition:1s;
}

h1 a span:nth-child(3){
    bottom: 0;right: -100%;
    width:100%;height:2px;
    background:linear-gradient(270deg,transparent,#2196f3)
}
h1 a:hover span:nth-child(3){
    right:100%;
    transition:1s;
    transition-delay:0.5s;
}
h1 a span:nth-child(2){
    top: -100%;right: 0%;
    width:2px;height:100%;
    background:linear-gradient(180deg,transparent,#2196f3)
}
h1  a:hover span:nth-child(2){
    top:100%;
    transition:1s;
    transition-delay:0.25s;
}

h1 a span:nth-child(4){
    bottom: -100%;left: 0%;
    width:2px;height:100%;
    background:linear-gradient(360deg,transparent,#2196f3)
}
h1 a:hover span:nth-child(4){
    bottom:100%;
    transition:1s;
    transition-delay:0.75s;
}
.content{
    color:dodgerblue;
    display:flex;
    justify-content:center;align-items:flex-start;
}
.content span{
    margin:0 15px;
    line-height: .7;
    animation:span 3s ease-in infinite alternate;
}
#social-list{
   
    margin-top:20px;
    
}
p{
    color:#fff;
}
#typed{color:whitesmoke;font-family:terminal;font-size:15px;letter-spacing:4px;}
.desc{font-family: neuro; 
    letter-spacing:6px;}
.center{margin:auto!important;text-align:center!important}
.vertical-center{min-height:100%;min-height:100vh;display:flex;align-items:center}
.spacing{margin-top:5%;margin-top:5vh;margin-bottom:20%;margin-bottom:20vh}
.title-desc{margin-top:20px!important;margin-bottom:30px!important;max-width:450px!important;font-weight:200;font-size:18px}
.resume-text{position: static;margin-top: -60px;font-weight: 100;letter-spacing: 5px;font-size: 16px;margin-left: auto;margin-right: 10px;text-align: right; display:none;}
.resume-text a{color:inherit; text-decoration: none; display: flex; padding:12px;}
.resume-text a img{ padding-right:14px;}
@media screen and (max-width: 576px) {.resume-text a{justify-content: center;}}
@media screen and (min-width: 575px) {.resume-text a{justify-content: flex-end;}}
.light-mode{color:#fff!important;background:#0D0D0D!important;}
.light-mode .resume-img{ background: url(../img/download-cloud.svg) no-repeat;}
.resume-img{margin-right: 5px; display: block; -moz-box-sizing: border-box; box-sizing: border-box; width: 30px; height: 30px; background: url(../img/download-cloud-light.svg) no-repeat; }
button{  background: url(../img/sun.svg) no-repeat;  color: transparent;  box-shadow: none;  border: none;  width: 50px;  height: 50px;  background-position: center;  position: relative;  cursor: pointer;  }
.light-mode button{  background: url(../img/moon.svg) no-repeat; background-position: center;}
button:focus {outline:0;}
